@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

input {
  @apply p-2 border-gray-300 border m-1 rounded;
}

.separator {
  @apply pb-2 mb-2 border-b;
}

@keyframes shake-anim {
  from {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-45deg);
  }

  66% {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.shake {
  animation-duration: 2s;
  animation-name: shake-anim;
  animation-iteration-count: infinite;
}
